# Environment
venv/
.idea/
*/vscode/
**/__pycache__/

# Jupyter Notebook
**/.ipynb_checkpoints/

# Tests and code coverage
_test_*.py
.coverage
.pytest_cache/
cov_reports/

# Sphinx documentation
*/source/
make.bat
Makefile
**/doctrees
**/html/
**/latex/*
!**/smart_home_product_reviews_analysis.pdf
!*/_images/methodology/text_mining_framework.*

# Project-specific
.credentials
*[!_]_.py
data/*
!**/thermostats/smart/stats/*
!*/.gitkeep
files/*
cmd.md
